.headingStyle {
    background-color: purple;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.heading2 {
    font-size: 2.5rem;
}

.card {
    text-align: center;
    font-family: sans-serif;
    background-color: yellow;
}

.date {
    font-size: 2rem;
    font-weight: bold;
}